@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
	min-height: 100dvh;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;
	scrollbar-width: none;
	font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
	display: none;
}
