@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;
	scrollbar-width: none;
	font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
	display: none;
}
